.parent{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: #eaeaea;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
.child{
    background-color: darkseagreen;
    height: 75px;
    width: 75px;
   margin: 10px;
}
.wrap{
    flex-wrap: wrap;
}   
.wrap-reverse{
    flex-wrap: wrap-reverse;
}