
.font-family{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.font-size{
    font-size: 30px;
}
.font-style{
    font-style: italic;
}
.font-weight{
    font-weight: bold;
}
.color-y-fondo{
    color:blue;
    background-color: red;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-justify{
    text-align: justify;
}