*{
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
.henny-penny-regular {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.792);
    color: white;
    padding: 15px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    
}
.main-nav,.secondary-nav{
    display: inline-block; 
}
.menu-1{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    align-content: center;
}
.menu-2{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    align-content: center;
}


header > nav > .menu-1 > li >a{
  
   color: #ffffff;
   padding: 10px;
   text-decoration: none;
font-size: 20px;
} 
header > nav > .menu-1 > li >a:hover{
   color: #ffffff;
   background-color: #ce9000;
   animation: normal;
   
} 
main {
   top: 0px;
   position: absolute;
}
.banner{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
}

.banner-img{
    width: 100%;
    height: 800px;
    object-fit:cover;
    opacity: 0.7;
    padding: 0%;
}
.banner-title {

    color: white;
    margin-bottom: 15px;

}
.banner > div > .banner-footer > .banner-description{
    color: rgb(184, 184, 184);
    margin-bottom: 15px;
}
.banner-footer{
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0%;
    bottom: 0%;
   color: white;
    padding: 10px;
}

.button{
    display: inline-block;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
}
.button-md{
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
}
.button-outline{
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
  
    border-radius: 15px;
    margin-left: 10px;
}
.primary{
    color: #fff;
    background-color: #ce9000;
    margin-top: 10px;
}
.secondary{
    color: #ffffff;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid #ce9000;

}
.section-banner {
    width: 100%;
    height: auto;

}
.section-xl {
    width: 100%;
    height: 920px;
    padding: 10px;

}
.section-title {
    font-family: 'Henny Penny', cursive, arial;
    font-size: 2em;
    margin-bottom: 15px;
    color: #333333;
}
.section-xl.one{
    background-color: #f1f1f1;
    text-align: center;
}
.section-xl.two{
    background-color: #ffffff;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}   




