*{
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
.henny-penny-regular {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    padding: 15px;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

header > nav ul> li >a{
   color: #ce9000;
} 
main {
   top: 0px;
   position: absolute;
}
.banner{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 400px;
    position: relative;
}
.banner-img{
    width: 100%;
    height: 800px;
    object-fit:cover;
    opacity: 0.7;
    padding: 0%;
}
.banner-footer{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0%;
    bottom: 0%;
   color: white;
    padding: 50px;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
}
.button.primary{
    color: #fff;
    background-color: #ce9000;
}
.section {
    width: 100%;
    height: auto;
    padding: 20px;

}
.section-title {
    font-family: 'Henny Penny', cursive, arial;
    font-size: 2em;
    margin-bottom: 15px;
    color: #333333;
}
.section.one{
    background-color: #f1f1f1;
    text-align: center;
}
.section.two{
    background-color: #ffffff;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}   




